setuptools==44.0.0
matplotlib==3.5.1
numpy==1.23.1
robosuite==1.4.1
scipy==1.8.0
tqdm==4.63.0
trimesh==3.21.7
hpp-fcl==2.4.4
torchvision==0.13.0
https://data.pyg.org/whl/torch-1.12.0%2Bcu102/torch_scatter-2.1.0%2Bpt112cu102-cp38-cp38-linux_x86_64.whl
